/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: darkcyan;
    background-image: linear-gradient(to bottom, darkcyan, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

}


.container{
    max-width: 600px;
    /*margin: 0 auto;*/
    min-height: 100%;
    background: white;
}